/* Write the CSS for you answer here */

#image {
    width: 700px;
    height: 450px;
    position:absolute;
    left: 25%;
    top: 25%;
}

#landscape {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

#pohutukawa {
    position: absolute;
    width: 700px;
    left: 0;
    top: 60px;
    z-index: 0;
    pointer-events: none; /* to restore it, set value to: auto */
}

#red {
    position: absolute;
    left: 12%;
    top: 60%;
    z-index: 1;
}

#blue {
    position: absolute;
    left: 18%;
    top: 40%;
    z-index: 1;
}

#darkblue {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
}



#green {
    position: absolute;
    left: 60%;
    top: 40%;
    z-index: 1;
}



#orange {
    position: absolute;
    left: 85%;
    top: 55%;
    z-index: 1;

}




#pink {
    position: absolute;
    left: 55%;
    top: 70%;
    z-index: 0;

}


#image:hover .bauble {
    animation-duration: 2s;
    animation-name: bounce;
    animation-fill-mode: forwards;
}

#image:not(:hover) .bauble{
    top: 95%;
}



@keyframes bounce {
    25% {
        top: 100%;
    }

    50% {
        top: 50%;
    }

    75% {
        top: 100%;
    }

    to {
        top: 100%;
    }

}