
svg#figure {
    top:100px;
    left: 30px;
    z-index: 2;
    animation-duration: 10s;
    animation-name: run;
    animation-fill-mode: forwards;
}




@keyframes run {
    from {
        top:100px;
        left: 0px;
    }
    5% {
        top:100px;
        left: 35px;

    }
   10% {
        top: 45px;
        left:35px;
    }
   15% {
        top: 45px;
        left:60px;
    }
    20%{
        top: 45px;
        left:90px;
    }
    25%{
        top: 160px;
        left:90px;
    }
    30% {
        top: 160px;
        left:30px;

    }
    35% {
        top: 220px;
        left:30px;

    }
    40% {
        top: 220px;
        left:160px;

    }
    50% {
        top: 100px;
        left: 160px;
    }
   60% {
        top: 100px;
        left:220px;
    }

    70% {
        top: 220px;
        left:220px;
    }
    80% {
        top: 220px;
        left:250px;
    }

    to {
        top: 220px;
        left:280px;
    }
}

svg#monster {
    top:100px;
    left: 30px;
    z-index: 2;
    animation-delay: 2s;
    animation-duration: 12s;
    animation-name: run;
    animation-fill-mode: forwards;
}


@keyframes chase{
    from {
        top:100px;
        left: 0px;
    }
    5% {
        top:100px;
        left: 35px;

    }
    10% {
        top: 45px;
        left:35px;
    }
    15% {
        top: 45px;
        left:60px;
    }
    20%{
        top: 45px;
        left:90px;
    }
    25%{
        top: 160px;
        left:90px;
    }
    30% {
        top: 160px;
        left:30px;

    }
    35% {
        top: 220px;
        left:30px;

    }
    40% {
        top: 220px;
        left:160px;

    }
    50% {
        top: 100px;
        left: 160px;
    }
    60% {
        top: 100px;
        left:220px;
    }

    70% {
        top: 220px;
        left:220px;
    }
    80% {
        top: 220px;
        left:250px;
    }

    to {
        top: 220px;
        left:280px;
    }
}